
<div class="footer-copyrights">
	<p class="copyright-text">
		<i class="far fa-copyright"></i> Feb 2020 -- Designed and developed By A.M.W
	</p>
	<div class="credit-display">
		<i class="fab fa-cc-visa"></i>
		<i class="fab fa-cc-mastercard"></i>
		<i class="fab fa-cc-amex"></i>
		<i class="fab fa-cc-discover"></i>
		<i class="fab fa-cc-paypal"></i>
		<i class="fab fa-cc-stripe"></i>
		<i class="fab fa-cc-amazon-pay"></i>
		<i class="fab fa-cc-apple-pay"></i>
		<i class="fab fa-cc-discover"></i>
	</div>
</div>